footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}
footer .logo {
	margin-bottom: 30px;
	font-size: 35px;
}
footer h4 {
	font-size: 17px;
	padding-bottom: 20px;
}
footer p {
	font-size: 15px;
	margin: 0 0 8px 0;
}
footer a {
	text-decoration: none;
	font-size: 16px;
	color: #3a4f50;
	margin-bottom: 16px;
}
footer .social-links {
	margin-top: 20px;
}
footer .social-links i {
	color: #3a4f50;
	padding-right: 4px;
	cursor: pointer;
	font-size: 20px;
}
footer .install .row img{
	border-radius: 6px;
	object-fit: contain;
}
footer .install .row {
	padding: 10px 0 0 20px;
}
footer .install img {
	margin: 10px 10px 15px 0;
	width: 150px;
	height: 100px;
}
footer .follow i:hover,
footer a:hover {
	color: #9d5248;
}
footer .copyright {
	width: 100%;
	text-align: center;
}