#homepage-header {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	background-image: url('../images/mainbg2.png');
	background-position: center;
	background-size: cover;
	padding: 14px;
 }
 #homepage-header h1{
	color: var(--primary-color);
	font-size: 10rem;
	z-index: -1;
 }
 #banner {
	width: 100%;
	color: var(--primary-color);
}
#banner h1{
	letter-spacing: 1.2px;
	max-width: 100%;
	font-size: 10rem;
}
#banner h2 {
	letter-spacing: 1.2px;
	max-width: 100%;
}
.image-container {
	position: relative;
	display: inline-block;
}
.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}
.image-container:hover .view-more-text {
	opacity: 1;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.view-more-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--primary-color);
	font-size: 18px;
	cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* Subtle background color on hover */
    padding: 8px; /* Add some padding for better aesthetics */
    border-radius: 15px; /* Rounded corners for the background */
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
 #prodetails {
	display: flex;
	margin-top: 40px;
 }
 #prodetails .single-pro-image{
	width: 40%;
	margin-right: 50px;
 }
 .small-img-group {
	display: flex;
	justify-content: space-between;
 }
 .small-img-col {
	flex-basis: 24%;
	cursor: pointer;
 }
#prodetails .single-pro-details {
	width: 50%;
	padding-top: 30px;
}
#prodetails .single-pro-details h4 {
	padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
	font-size: 26px;
}
#prodetails .single-pro-details select {
	display: block;
	padding: 5px 10px;
	margin-bottom: 10px;
	border: 1px solid var(--primary-color);
}
#prodetails .single-pro-details input {
	width: 50px;
	height: 47px;
	padding-left: 10px;
	font-size: 16px;
	margin-right: 10px;
	border: 1px solid var(--primary-color);
}
#prodetails .single-pro-details input:focus {
	outline: none;
}
#prodetails .single-pro-details span {
	line-height: 25px;
}
