body {
   display: flex;
   justify-content: center; 
   align-items: center;
   min-height: 100vh;
}
.sidebar {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 300px;
	height: 100vh;
	color: #101010;
	overflow: hidden;
	 transition: all 0.5s linear;
	 background: #fff;
	 border-right: 1px solid var(--primary-color);
	 margin: 0;
	 margin-top: 50px;
	 padding: 0;
	 padding-top: 50px;
  }
  .sidebar-menu {
	 height: 88%;
	 position: relative;
	 width: 100%;
	 list-style: none;
	 padding: 0;
	 margin: 0;
  }
  .sidebar-menu li{
	 padding: 1rem;
	 margin: 8px 0;
	 transition: all 0.5s ease-in-out;
	 border-bottom: 1px solid var(--primary-color);
  }
  .sidebar-menu a {
	 color: var(--primary-color);
	 font-size: 14px;
	 text-decoration: none;
	 display: flex;
	 align-items: center;
	 gap: 1.5rem;
  }
  .sidebar-menu a span{
	 overflow: hidden;
  }
  .sidebar-menu i:hover {
	border-bottom: none;
	color: var(--primary-color);
  }
  .sidebar-menu a:hover {
	border-bottom: none;
	color: var(--primary-color);
  }
  .sidebar-menu span:hover {
	border-bottom: none;
	color: var(--primary-color);
  }
  .sidebar-menu a i {
	 font-size: 1.5rem;
  }
  .main-content {
	width: calc(100vw);
	 position: relative;
	 padding: 1rem;
  }
  .user-wrapper {
	width: 100%;
	padding-left: 10px;
	text-align: center;
  }
  .user-wrapper h2{
	font-size: 20px;
  }
  .header-wrapper {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 flex-wrap: wrap;
	 color: black;
	 padding: 10px 2rem;
	 margin-bottom: 1rem;
  }
  .cards {
	 padding: 1rem;
  }
  .cards h1{
	 text-align: center;
	 padding: 10px;
  }
  .content-table {
	 border-collapse: collapse;
	 margin: 25px 0;
	 font-size: 1.2rem;
	 width: 100%;
  }
  .content-table thead tr {
	 color: #fff;
	 text-align: left;
  }
  .content-table th, 
  .content-table td {
	 padding: 12px 15px;
  }
  .content-table tbody tr {
	 border-bottom: 1px solid #dddddd;
  }