@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
    padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	outline: none; border: none;
	transition: 0.2s linear;
	font-family:'EB Garamond', 'Source Sans Pro', sans-serif;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 9rem;
}	
body {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background-position: center;
    backdrop-filter: blur(2.5px);
    background-size: cover;
}
.header {
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 7%;
	position: fixed;
	top: 0; left: 0; right: 0;
	border-bottom: 1px solid #9d5248;
	z-index: 10;
}
.header .logo {
	display: flex;
	height: 50px;	
	width: 100px;
	margin-left: 1rem;
}
.header .logo img{
	width: 100%;
	height: 100%;
}
.header .nav-bar a {
	margin: 0 1rem;
	font-size: 18px;
	color: #3a4f50;
	transition: 0.3s ease;
}
.header .nav-bar a:hover,
.header .nav-bar a.active{
	color: black;
	border-bottom: 1px solid black;
}
.header .nav-bar.active {
	right: 0;
}
 .header .side-bar div {
	color: #3a4f50;
	cursor: pointer;
	font-size: 22px;
	margin-left: 2rem;
}
#menu-btn {
	display: none;
}
.header .search-form {
	position: absolute;
	top: 115%; right: 7%;
	background-color: white;
	width: 25rem;
	height: 3em;
	display: flex;
	align-items: center;
	transform: scaleY(0);
	transform-origin: top;
}
.header .search-form.active {
	transform: scaleY(1);
	border: 1px solid #9d5248;
}
.header .search-form input {
	height: 100%;
	width: 100%;
	font-size: 18px;
	color: black;
	padding: 1rem;
	text-transform: none;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown a:active {
	color: black;
	border-bottom: 1px solid black;
}
.dropdown-content {
	top: 100%; /* Position the content below the link */
	left: 0;
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 100%;
	z-index: 1;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown a {
	text-decoration: none;
	color: black;
	display: block;
}
.dropdown-content a{
	padding: 5px;
}
.dropdown a::after {
	content: '\27a4'; /* Unicode character for up arrow */
	margin-left: 1px;
	color: #555;
	margin-top: 8px;
	font-size: 10px;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
	position: absolute;
	transform: translateY(-0%); 
}
.dropdown:hover a::after {
	transform: rotate(90deg);
}
.dropdown-content a::after {
	content: none; /* Remove the arrow in the items within the dropdown content */
}
.header .search-form label {
	cursor: pointer;
	font-size: 18px;
	margin-right: 1.5rem;
	color: black;
}
/* .header .search-form .search-btn{
	right: 0;
	top: 0;
	padding: 5;
	background-color: transparent;
	width: 30px;
	text-align:center;
} */

.header .profile-menu {
	position: absolute;
	top: 60px;
	right: -100%;
	padding: 10px 20px;
	background-color: #fff;
	width: 200px;
	border-radius: 15px;
	border: 1px solid #9d5248;
	transition: 0.5s;
}
/* .header .profile-menu::before {
	content: '';
	position: absolute;
	top: -10px;
	right: 90px;
	border-top: 1px solid #9d5248;
	border-left: 1px solid #9d5248;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
} */
.header .profile-menu.active {
	right: 0;	
	border-left: 1px solid #9d5248;	
	border-bottom: 1px solid #9d5248;	
}
.header .profile-menu h2 {
	font-size: 1.5rem;
	text-align: center;
	color: #555;
	line-height: 1.2em;
	font-weight: 500;
	padding: 20px 0;
	width: 100%;
}
.header .profile-menu a {
	text-align: center;
	color: #555;
	line-height: 1.2em;
	font-weight: 500;
	padding: 10px 0;
}
.header .profile-menu ul {
	padding-left: 0;
}
.header .profile-menu ul li {
	font-size: 1.2rem;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	direction: flex;
	width: 100%;
	border-bottom: 1px solid #9d5248;
}
.header .profile-menu ul li a {
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: 0.5s;
	display: inline-block;
}
.header .profile-menu ul li:hover a{
	color:#9d5248;
}

.wrapper {
    width: 425px;
    background: whitesmoke;
    color: #3a4f50;
    padding: 30px 40px;
    border-radius: 10px;
}
.wrapper h1 {
    text-align: center;
    font-size: 3rem;
}
 .wrapper .input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
 }
 .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 40px;
    color: #3a4f50;
    padding: 20px 45px 20px 20px;
 }
 .input-box input::placeholder {
    color:#3a4f50;
 }
 .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
 }
 .wrapper .icon {
    text-align: center;

    margin: 5px 20px 0 20px;
 }
 .wrapper .icon a{
    font-size: 2rem;
    color: #3a4f50;
 }
 .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
 }
 .remember-forgot label input {
    accent-color:#3a4f50;
    margin-right: 3px;
 }
 .remember-forgot a {
    color: #3a4f50;
    text-decoration: none;
 }
 .remember-forgot a:hover {
    text-decoration: underline;
 }
 .wrapper .btn {
    width: 100%;
    height: 45px;
    background:  #b9c58f;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
 }
 .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
 }
 .register-link p a {
    color: #3a4f50;
    text-decoration: none;
    font-weight: 600;
 }
 .register-link p a:hover {
    text-decoration: underline;
 }

.form {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #fff;
	padding: 30px;
	border-radius: 20px;
	position: relative;
	max-width: 700px;
  }
  .flex {
	display: flex;
	gap: 10px;
  }
  .form label {
	position: relative;
  }
  .form label .input {
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid rgba(105, 105, 105, 0.397);
	border-radius: 10px;
	font-size: 1.2rem;
  }
  .submit {
	border: none;
	outline: none;
	background-color: #9d5248;
	padding: 10px;
	border-radius: 10px;
	color: #f5f5dc;
	font-size: 16px;
	transform: .3s ease;
	width: 50%;
  }
  .submit:hover {
	background-color: #f5f5dc;
	color:#9d5248;
	border: 1px solid #9d5248;
	cursor: pointer;
  }